.skeleton {
    background: linear-gradient(90deg,
            #eee 25%,
            #ddd 37%,
            #eee 63%);
    background-size: 400% 100%;
    animation: shimmer 1.2s infinite;
    border-radius: 8px;
    transition: all 1s ease-in-out;
}

.skeleton-card {
    width: 300px;
    background: white;
    padding: 25px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    transition: all .25s ease-in-out;
}

.skeleton-img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.skeleton-cat {
    width: 35%;
    height: 14px;
}

.skeleton-title {
    width: 100%;
    height: 15px;
}

.skeleton-title.skeleton-title-2 {
    width: 75%;
    height: 15px;
}

.skeleton-price {
    width: 40%;
    height: 16px;
}

.skeleton-btn {
    width: 100%;
    height: 40px;
}


@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}
