.icon_box,
.icon_box svg,
.icon_box:hover svg {
    transition: all .25s ease-in-out;
}

.icon_box:hover {
    box-shadow: -3px 6px 22px 0px #b9b9b9;
}

.icon_box:hover svg {
    transition: all .25s ease-in-out;
    scale: 1.08;
}

.prod_icon_box_slider .swiper-button-prev::after,
.prod_icon_box_slider .swiper-button-next::after {
    font-size: 32px;
    color: var(--primary-color);
}

@media (max-width: 600px) {
    .icon_box:hover {
        box-shadow: none;
    }
}