.search_box {
    /* box-shadow: -3px 6px 22px 0px #d5d5d5; */
    overflow: hidden;
    /* border: 0 !important; */
}

.search_box .search_feat_img {
    box-shadow: 0px 0px 10px 4px #0000000d;
}

.search_box,
.search_box .search_feat_img,
.search_box .cta,
.search_box .cta p,
.search_box .cta svg {
    transition: all .25s ease-in-out;
}

.search_box .cta {
    width: fit-content;
    opacity: 1;
    pointer-events: all;
    position: relative;
    transform: translateX(-25px);
}

.search_box .cta svg {
    transform: rotate(-45deg);
    transition: all .25s ease-in-out;
    color: black;
    opacity: 0;
}

.search_box:hover {
    box-shadow: 0px 3px 16px 0px #c5c5c57a;
    transition: all .25s ease-in-out;
}

.search_box:hover .cta {
    opacity: 1;
    pointer-events: all;
    transition: all .25s ease-in-out;
    transform: translateX(0px);
}

.search_box:hover svg {
    transition: all .25s ease-in-out;
    color: var(--primary-color);
    opacity: 1;
}

.search_box:hover .cta p {
    color: var(--primary-color);
    transition: all .25s ease-in-out;
}

.search_box .search_feat_img:hover {
    scale: 1.12;
}

@media (max-width: 600px) {
    .search_box .cta svg {
        opacity: 1;
    }

    .search_box .cta {
        transform: translateX(0px);
    }
}
